<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="row h-100">
            <div class="container mt-5">
                <form method="POST">
                    <div class="form-group">
                        <label for="ph_number">Phone Number</label>
                        <input class="form-control" id="ph_number" name="ph_number" type="tel"
                            placeholder="+910123456789" required>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Next">
                </form>
            </div>
        </div>
    </main>
</body>

</html>